<h1>Ucmsapp</h1>

<p>こんにちは<%= @user.name %>さん！</p>

<p>
  Ucmsappにようこそ！下記のlinkをクリックしてアカウントを有効化してください。
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
