<% @user ||= current_user %>
  <div class="mx-auto">
    <a href="<%= following_user_path(@user) %>" data-turbolinks="false" class="none-deco">
      <strong id="following" class="mx-2">
        <%= @user.following.count %>
      </strong>
      <span>フォロー</span>
    </a>
    <a href="<%= followers_user_path(@user) %>" data-turbolinks="false" class="none-deco">
      <strong id="followers" class="mx-2">
        <%= @user.followers.count %>
      </strong>
      <span>フォロワー</span>
    </a>
  </div>
